[alias]
         st = status
         di = diff
         co = checkout
         ci = commit
[pager]
         diff = true
[color]
         status = auto
         diff = auto
[core]
	editor = emacs --no-window-system
	pager = less -+F
[push]
	default = simple
